PORT=3101
SERVICE_NAME=study-groups
NODE_ENV=development
LOG_LEVEL=info

# Supabase Postgres
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.becitrklvpadvjwdbmck
DB_PASSWORD=ProyectoUniconnect123
DB_SSL=true

# Auth transition (Supabase JWT)
JWT_ISSUER=https://becitrklvpadvjwdbmck.supabase.co/auth/v1
JWT_JWKS_URL=https://becitrklvpadvjwdbmck.supabase.co/auth/v1/.well-known/jwks.json
JWT_AUDIENCE=authenticated

# Internal service auth (future)
INTERNAL_SERVICE_TOKEN=dev_secret_token
